.App {
  font-family: sans-serif;
}

.add-field {
  padding: 10px;
  background: #ced;
}

.todos-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.todos-list li {
  border-top: 1px solid #999;
  padding: 10px;
}

.todos-list li * {
  vertical-align: middle;
}

.todos-list li:first-child {
  border-top: 0;
}

.remove-icon {
  cursor: pointer;
  margin: 0 0 0 10px;
  border: 1px solid #000;
  border-radius: 2px;
  display: inline-block;
  width: 15px;
}

.remove-icon:before {
  content: "x";
  text-align: center;
  width: 100%;
  height: 100%;
  line-height: 1;
  display: block;
}

.done-item {
  text-decoration: line-through;
}
